rf-detr-base.pth filter=lfs diff=lfs merge=lfs -text
preclassifier_best.pth filter=lfs diff=lfs merge=lfs -text
rfdetr_best.pth filter=lfs diff=lfs merge=lfs -text
checkpoint_4.ckpt filter=lfs diff=lfs merge=lfs -text
checkpoint_9.ckpt filter=lfs diff=lfs merge=lfs -text
checkpoint_14.ckpt filter=lfs diff=lfs merge=lfs -text
checkpoint_best_ema.pth filter=lfs diff=lfs merge=lfs -text
checkpoint_best_regular.pth filter=lfs diff=lfs merge=lfs -text
last.ckpt filter=lfs diff=lfs merge=lfs -text
sam2_lora_best.pth filter=lfs diff=lfs merge=lfs -text
sam2_lora_best_fixed.pth filter=lfs diff=lfs merge=lfs -text
sam2_lora_best_v5_convstem.pth filter=lfs diff=lfs merge=lfs -text
sam2_lora_best_v6.pth filter=lfs diff=lfs merge=lfs -text
sam2_lora_best_v6_boxonly.pth filter=lfs diff=lfs merge=lfs -text
sam2_lora_best_v6_dense.pth filter=lfs diff=lfs merge=lfs -text
segformer_v4_scratch_best.pth filter=lfs diff=lfs merge=lfs -text
segformer_v5_convstem_best.pth filter=lfs diff=lfs merge=lfs -text
segformer_v6_best.pth filter=lfs diff=lfs merge=lfs -text
segformer_best_v2.pth filter=lfs diff=lfs merge=lfs -text
segformer_v3_best.pth filter=lfs diff=lfs merge=lfs -text
unet_best.pth filter=lfs diff=lfs merge=lfs -text
*.safetensors filter=lfs diff=lfs merge=lfs -text
